 <!-- Filename: views/partials/about.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/27
last revision: 2023/09/30 -->

<!-- The about me page -->
<div class="d-flex py-4 justify-content-center align-items-center flex-wrap">
    <!-- the profile picture -->
    <div class="flex-shrink-0 mx-5">
        <img src="../../Assets/images/profile_pic.jpg" alt="profile picture" class="about-image" />
    </div>
    <!-- Description -->
    <div class="mx-5 pb-5 about-content" >
        <h1 class="mt-5">SIT, Ibrahem Aqel</h1>
        <article class="fs-4">I am a web developer. I graduated with a business degree in Information Systems. I am experienced with quality assurance and e-commerce implementation. I own an online business myself and I know how stressful it could be. Leave the tech part to me and I will make your life easier! </article><br>
        <a class="text-decoration-underline fs-4 mt-5" href="Assets/documents/resume.pdf" target="_blank">My Résumé</a>
    </div>
</div>