<!-- 
Filename: views/partials/footer.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->


<footer class="text-end footer">2023 all rights reserved.<footer>
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
