<!-- Filename: views/partials/header.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->

<!-- The header part of the main HTML file, including the head and meta data.  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="description" content="Web developer, Andrew Sit - express portfolio website">
    <meta name="author" content="Ibrahem Aqel Sit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- CSS Section -->
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>