<!-- Filename: views/partials/main_nav.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->

<!-- The partial ejs for the top navigation bar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light main-nav" >
    <div class="container-fluid">
      <!-- Site Logo added as a link to Home Page -->
      <a aria-current="page" href="/home">
        <img src="../../../Assets/images/logo.jpg" width="40px"/>
      </a
      <!-- The menu button applicable to mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links on the top menu bar: the link for the current page will be set to "active" -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto pe-2 mb-2 mb-lg-0">
         <ul class="navbar-nav ms-auto pe-2 mb-2 mb-lg-0">
          <li class="nav-item">
          <!-- Menu item to Home -->
          <% if (title == "Home") { %>
            <a class="nav-link active" aria-current="page" href="/home">
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/home">
          <% } %> 
            <i class="fas fa-lg fa-home"></i> Home</a>
          </li>
          <!-- Menu item to About Me -->
          <li class="nav-item">
            <% if (title == "About Me") { %>
              <a class="nav-link active" aria-current="page" href="/about">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/about">
            <% } %> 
              <i class="fas fa-lg fa-info-circle"></i> About Me</a>
          </li>
          <!-- Menu item to Projects -->
          <li class="nav-item">
            <% if (title == "Projects") { %>
              <a class="nav-link active" aria-current="page" href="/projects">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/projects">
            <% } %> 
              <i class="fas fa-lg fa-place-of-worship"></i> Projects</a>
          </li>
          <!-- Menu item to Services -->
          <li class="nav-item">
            <% if (title == "Services") { %>
              <a class="nav-link active" aria-current="page" href="/services">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/services">
            <% } %> 
              <i class="fas fa-lg fa-hand-holding-heart"></i> Services</a>
          </li>
          <!-- Menu item to Business Contact-->
          <li class="nav-item">
            <% if (title == "Business Contacts") { %>
              <a class="nav-link active" aria-current="page" href="/contact-list">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/contact-list">
            <% } %> 
              <i class="fas fa-lg fa-user-tie"></i> Business Contacts</a>
          </li>
          <!-- Menu item to Contact Me-->
          <li class="nav-item">
            <% if (title == "Contact Me") { %>
              <a class="nav-link active" aria-current="page" href="/contact">
            <% } else { %>
              <a class="nav-link" aria-current="page" href="/contact">
            <% } %> 
              <i class="fas fa-lg fa-mobile-alt"></i> Contact Me</a>
          </li>

          <!-- Login/Logout -->
          <li class="nav-item">
            <% if (typeof email == 'string' && email) { %>
              <a href="/logout" class="nav-link"><i class="fas fa-sign-in-alt"></i>Log out</a>
            <% } else { %>
              <a href="/login" class="nav-link"><i class="fas fa-sign-in-alt"></i>Login</a>
            <% } %> 
          </li>

        </ul>
      </div>
    </div>
  </nav>