<!-- Filename: views/partials/services.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->

<!-- The services page -->
<div class="p-5 pt-0 fs-5">
    <h1 class="mt-3">Services</h1>
    <p>I don't just make websites. I want to bring you success too! Here are the list of services I will provide: </p>
    <ul>
        <li>Web Development</li>
        <li>Website Design</li>
        <li>Hosting Service</li>
        <li>E-commerce Integration</li>
        <li>E-commerce Consulting</li>
    </ul>
    <br>
    <img src="../../Assets/images/services.jpg" alt="Interactive Web Portfolio" class="services-image" /><br>
</div>