<!-- Filename: views/partials/error.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->

<div class='error-page'>
    <h2><%= error.status %>  <%= message %></h2>
    <h1>That page does not exist.</h1>
    <h3>Please visit the <a href="/home">Home Page</a>.</h3>
</div>
<link rel='stylesheet' href='/stylesheets/app.css' />