<!-- Filename: login.ejs
Ibrahem Aqel Sit (# 301139448)
Creation date: 2023/09/28
last revision: 2023/09/30 -->

<%- include ../partials/header.ejs %> 

<%- include ../partials/main_nav.ejs %> 

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Login</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username"  class="mb-1">Username: </label>
                    <input type="text" class="form-control mb-3"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="password"  class="mb-1">Password: </label>
                    <input type="password" class="form-control mb-3"
                    name="password" placeholder="Enter password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>


<%- include ../partials/footer.ejs %> 